import(RCurl, XML, XML2R, stringr)
importFrom("utils", "download.file", "read.delim", "read.fwf", "read.table")
exportPattern(extract_clinvar)
exportPattern(extract_genes_orphanet)
exportPattern(extract_omim)
exportPattern(extract_uniprot)
exportPattern(genes_compile)
exportPattern(localPDB)
exportPattern(pheno_extract_HPO)
exportPattern(variants_compile)
exportPattern(grep_split)
